@model TheWorld.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Home page";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/movies.css" />
}
<div class="page-header">
    @if (User.IsInRole("Admin"))
    {
        <div class="btn-ctrl-group right">
            <a asp-action="Create" class="btn btn-success">Nieuwe film</a>
        </div>
    }
    <h1>Bekijk hier alle films</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="search">
            <label asp-for="Search">Zoeken naar films op titel</label>
            <div class="search-group">
                <input asp-for="Search" type="text" class="form-control" placeholder="Zoeken">
                <span asp-validation-for="Search" class="text-muted"></span>
                <button type="submit" class="btn btn-default">Zoeken</button>
            </div>
        </form>

        <label>Aantal films weegeven op pagina:</label>
        <div class="btn-group" role="group" aria-label="Total movie items on page">
            <a class="btn btn-default @(@Model.PageSize == 10 ? "active" : "")" asp-route-search="@Model.Search" asp-route-page="@Model.PageNumber" asp-route-size="10">10</a>
            <a class="btn btn-default @(@Model.PageSize == 25 ? "active" : "")" asp-route-search="@Model.Search" asp-route-page="@Model.PageNumber" asp-route-size="25">25</a>
            <a class="btn btn-default @(@Model.PageSize == 50 ? "active" : "")" asp-route-search="@Model.Search" asp-route-page="@Model.PageNumber" asp-route-size="50">50</a>
        </div>

        <br/>
        <br/>
    </div>
</div>
<div class="row">
    <div class="movie-group">
        @if (@Model.Movies.Count() != 0)
        {
            foreach (var movie in Model.Movies)
            {
                <a asp-controller="Movie" asp-action="Movie" asp-route-id="@movie.movie_id" class="col-md-3 col-sm-4 col-xs-6 col-xxs-1 movie-group-item">
                    <img src="~/img/movie_placeholder.jpg" alt="" />
                    @movie.title
                </a>
            }
        }
        else
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Er zijn geen films gevonden
            </div>
        }

    </div>

</div>
<div class="row">
    <div class="center-block">
        page size: @Model.PageSize <br/>
        page nuber: @Model.PageNumber <br/>
        total item count: @Model.TotalItemCount <br/>
        <cs-pager cs-paging-pagesize="@Model.PageSize"
                  cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItemCount"
                  cs-pagenumber-param="page"
                  asp-controller="Movie"
                  asp-action="Index"
                  asp-route-search="@Model.Search"
                  asp-route-size="@Model.PageSize"></cs-pager>
    </div>
</div>