@using Microsoft.AspNet.Mvc.ModelBinding
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model TheWorld.Models.Movie
@{
    ViewBag.Title = "Movie detail pagina";

    var movieData = new
    {
        castLast = Model.Movie_Cast.Skip(2).FirstOrDefault(),
        genreLast = Model.Movie_Genre.Skip(2).FirstOrDefault(),

    };
}
<div class="page-header">
    @if (User.IsInRole("Admin"))
    {
        <div class="btn-ctrl-group right">
            <a asp-action="Edit" asp-route-id="@Model.movie_id" class="btn btn-warning">Bijwerken</a>
            <form asp-action="Delete" asp-route-id="@Model.movie_id" method="post">
                <input type="submit" value="Verwijderen" class="btn btn-danger" />
            </form>
        </div>
    }
    <h1>@Model.title</h1>
</div>

<div class="row">
    <div class="col-sm-8">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#overzicht" aria-controls="overzicht" role="tab" data-toggle="tab">Overzicht</a></li>
            <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="overzicht">
                <br />
                <p>
                    <strong>Jaar: </strong>@Model.publication_year &ensp;
                    <strong>Speeltijd: </strong>@Model.duration minuten &ensp;
                    <strong>Minimun leeftijd: </strong>@(Model.minimum_age.ToString() != "" ? Model.minimum_age.ToString() : "Onbekend")
                </p>
                <p><strong>Omschrijving: </strong>@Model.description</p>
                <p>
                    <strong>Cast:</strong>
                    @if (Model.Movie_Cast.Count != 0)
                    {
                        foreach (var item in Model.Movie_Cast.Take(3))
                        {
                            <span>@item.person.firstname @item.person.lastname@(item.Equals(movieData.castLast) ? "" : ",")</span>
                        }
                    }
                    else
                    {
                        <span>Onbekend</span>
                    }
                </p>
                <p>
                    <strong>Genre's:</strong>
                    @if (Model.Movie_Cast.Count != 0)
                    {
                        foreach (var item in Model.Movie_Genre.Take(3))
                        {
                            <span>@item.genre_name@(item.Equals(movieData.genreLast) ? "" : ",")</span>
                        }
                    }
                    else
                    {
                        <span>Onbekend</span>
                    }
                </p>
                <div class="text-center">
                    <a asp-action="Watch" asp-route-id="@Model.movie_id" class="btn btn-watch">Film kijken!</a>
                </div>
                
            </div>

            <div role="tabpanel" class="tab-pane fade" id="details">
                <br />
                <p>
                    <strong>Jaar: </strong>@Model.publication_year &ensp;
                    <strong>Speeltijd: </strong>@Model.duration minuten &ensp;
                    <strong>Minimun leeftijd: </strong>@(Model.minimum_age.ToString() != "" ? Model.minimum_age.ToString() : "Onbekend")
                </p>
                <p><strong>Omschrijving: </strong>@Model.description</p>
                
                @if (Model.MovieAwards.Count != 0)
                {
                    <div>
                        <strong>Awards: </strong><br />
                        @foreach (var item in Model.MovieAwards)
                        {
                        <h6>@item.award</h6>
                        }
                    </div>
                }
                        
                <div>
                    <strong>Reacties: </strong><br />
                    @if (Model.CustomerFeedback.Count != 0)
                    {
                        foreach (var item in Model.CustomerFeedback)
                        {
                            <h6>Reactie van: @item.customer_mail_address geeft een @item.rating</h6>
                            <p>@item.comments</p>
                            <br/>
                        }
                    }
                    else
                    {
                        <span>Er zijn nog geen reacties gegeven op deze film</span>
                    }
                </div>
                <div class="row">
                    <p class="col-sm-4">
                        <strong>Cast:</strong><br />
                        @if (Model.Movie_Cast.Count != 0)
                        {
                            foreach (var item in Model.Movie_Cast)
                            {
                                <span>@item.person.firstname @item.person.lastname</span><br/>
                            }
                        }
                        else
                        {
                            <span>Onbekend</span>
                        }
                    </p>
                    <p class="col-sm-4">
                        <strong>Director:</strong><br />
                        @if (Model.Movie_Director.Count != 0)
                        {
                            foreach (var item in Model.Movie_Director)
                            {
                                <span>@item.person.firstname @item.person.lastname</span><br />
                            }
                        }
                        else
                        {
                            <span>Onbekend</span>
                        }
                    </p>
                    <p class="col-sm-4">
                        <strong>Genre's:</strong><br />
                        @if (Model.Movie_Genre.Count != 0)
                        {
                            foreach (var item in Model.Movie_Genre)
                            {
                                <span>@item.genre_name</span><br />
                            }
                        }
                        else
                        {
                            <span>Onbekend</span>
                        }
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <img src="~/img/movie_placeholder.jpg" alt="" class="movie-poster" />
    </div>

</div>