@model TheWorld.Models.Customer
@{
    ViewBag.Title = @User.Identity.Name;
}
@section Scripts {
}
    <div class="jumotron">
    <h2>Welkom @User.Identity.Name</h2>
    <ul>
        <li>@Model.name</li>
        <ul>
            
        </ul>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Watch history</h2>
                @if (Model.Watchhistory.Count() != 0)
                {
                    <div class="list-group">
                        @foreach (var item in Model.Watchhistory)
                        {
                            <a asp-controller="Movie" asp-action="Movie" asp-route-id="@item.movie.movie_id" class="list-group-item">@item.movie.title bekeken op @item.watch_date.ToString("d")</a>
                        }
                    </div>
                }
                else
                {
                    <h3>Je hebt nog geen films bekeken</h3>
                }
        </div>
    </div>
</div>